html {
  background-color: #333333;
}
h1, p {
  font-family: sans-serif;
}
li, a {
  color: lightgrey !important;
}

a:hover {
  color: grey !important;
}

.navbar {
  display: -webkit-flex;
  width:100%;
  position:fixed;
  z-index: 1000;
  top:0;
}

.navbar-default {
  background-color: #444444;
  border-color: #444444;
}

.section {
  background-color: #444444 !important;
  cursor: pointer;
}

.ng-scope {
  background-color: #333333;
}

.rowContent {
  top:0;
  margin-left: 0px !important;
  width: 100%;
  background-color: #333333;
  position: relative;
}

.content {
  width:100%;
  height: 900px;
  margin-top: 10px;
  display: -webkit-flex;
  vertical-align: middle;
  float: none;
}

.row {
  display:-webkit-flex;
  justify-content: center;
}

.container {
  position:absolute;
  margin-top:80px;
  width: 100%;
}

.td {
  height: 200px;
  margin-top:10%;
  font-family: 'League Gothic', sans-serif;
  color: #fff;
}

.tt {
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
}

.sx {
  padding: 5px;
  text-align: justify;
  line-height: 2em;
}

.dx {
  padding: 5px;
  text-align: justify;
  margin-top: 40px;
  line-height: 2em;
}

.title {
  position: absolute;
  font-size: 10vw;
  margin-bottom: 7vw;
}

.subtitle {
  position: absolute;
  font-size: 8.2vw;
}

.ddx {
  margin-bottom: 8vw;
}

.col-sm-5 {
  width: 38%
}

.col-sm-10 {
  width:86%;
  margin-left:10px;
}

.to {
  height:10%;
  margin-top: 5%;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  font-size:2vw;
  line-height: 1.1em;
  margin-left:-1%;
  padding-right: 2%;
  text-align: justify;
  font-family: 'Roboto';
}

.tk {
  color: #FF710F !important;
}

.ts {
  justify-content: center;
  margin:10px;
  border-radius:5px;
  height: 180px;
  font-family: 'League Gothic', sans-serif;
  text-align: justify;
  color: #fff;
}

.ts_title {
  position: absolute;
  font-size: 4vw;
  margin-bottom: 50px;
}

.ts_sub {
  font-family: 'Roboto';
  font-size: 2vw;
  margin-bottom: 20px;
}

.tl {
  display:-webkit-flex;
  margin:10px;
  border-radius:5px;
  height: 220px;
  color: #fff;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  justify-content: center;
}

.tl_sub {
  position: absolute;
  font-family: 'Roboto';
  font-size: 1.2vw;
  margin-bottom: 20px;
  padding:0 80px;
  line-height: 0.9em;
  text-align: center;
}

.tl_svg {
  margin-bottom: 70px;
}

#order {
  height:800px;
  overflow-y: scroll;
}

#recon {
  height:800px;
  overflow-y: scroll;
}

#comp {
  height:800px;
  overflow-y: scroll;
}

.graphic {
  position: relative;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#tooltip {
  background-color: #FF710F;
  width:100px;
  height:8px;
  position: fixed;
  cursor:pointer;
}

#icons {
  width:250px;
  height:60px;
  position: fixed;
  display:-webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
}

.icon {
  width:40px;
  height:60px;
  margin:2px;
}

#comment {
  color: #fff;
  width:250px;
  height:40px;
  position: fixed;
  cursor:pointer;
  border-bottom: 1px solid #fff;
  text-align: right;
  font-family: 'League Gothic', sans-serif;
  font-size:20px;
  padding:10px;
}

.header {
  font-family: 'Roboto';
  color: #FF710F !important;
  margin-bottom: 20px;
  margin-left:5%;
}

.col-sm-12 {
  display: -webkit-flex !important;
  justify-content: center !important;
}

.credit {
  position: relative;
  font-family: 'League Gothic';
  font-size: 2vw;
  color: #fff;
  margin-bottom: 20px;
  font-weight: lighter;
  padding:0 80px;
  line-height: 1em;
  text-align: center;
}

.over {
  position:absolute;
  z-index: 99999 !important;
}